.analytics-card {
    width: 94vw;
    margin: 15px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.057);
    text-align: center;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    border: 1px solid #e0e0e0;
}

.pie-cards{
    width: 94vw;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}